body {
    
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: 300% 300%;
    background-image: linear-gradient(-45deg, yellow 0%, rgb(157, 255, 0) 25%, rgba(255, 255, 0, 0.664) 51%, #ff357f 100%);
    -webkit-animation: AnimateBG 20s ease infinite;
            animation: AnimateBG 20s ease infinite;
  }
  
  @-webkit-keyframes AnimateBG {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  @keyframes AnimateBG {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }



  .card_form{
    padding: 20px;
    max-width: 500px;
    max-height: 704px;
    background: rgb(236, 236, 236);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  }

.card {
    padding: 30px;
  position: relative;
  width: 250px;
  height: 350px;
  border-radius: 14px;
  z-index: 1111;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: -5px -5px 15px #bebebe, -5px -5px 15px #000000;
  ;
}

.bg {
    padding: 30px;
  position: absolute;
  top: 5px;
  left: 5px;
  width: 240px;
  height: 340px;
  z-index: 2;
  background: rgba(255, 255, 255, .95);
  backdrop-filter: blur(24px);
  border-radius: 10px;
  overflow: hidden;
  outline: 2px solid rgb(0, 0, 0);
}

.blob {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #ff0000;
  opacity: 1;
  filter: blur(12px);
  animation: blob-bounce 5s infinite ease;
}

@keyframes blob-bounce {
  0% {
    transform: translate(-100%, -100%) translate3d(0, 0, 0);
  }

  25% {
    transform: translate(-100%, -100%) translate3d(100%, 0, 0);
  }

  50% {
    transform: translate(-100%, -100%) translate3d(100%, 100%, 0);
  }

  75% {
    transform: translate(-100%, -100%) translate3d(0, 100%, 0);
  }

  100% {
    transform: translate(-100%, -100%) translate3d(0, 0, 0);
  }
}

.container-body {
    width: 100%;
    display: flex;
    justify-content: center; /* Center children horizontally */
    align-items: center; /* Center children vertically */
}

.container-left {
    width: 50%;
    /* If you want content inside .container-left to be centered as well */
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-right {
    width: 50%;
    /* If you want content inside .container-right to be centered as well */
    display: flex;
    justify-content: center;
    align-items: center;
}
